/* General Background for both Login and Register */
.login-background, .register-background {
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/3f3a318d-6f0e-49db-bd2f-51544f86d170/8e768203-9d96-4b36-9ef3-c25e2cc6df07/PH-en-20230717-popsignuptwoweeks-perspective_alpha_website_large.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-overlay, .register-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container, .register-container {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 40px;
  border-radius: 8px;
  max-width: 350px;
  width: 100%;
  text-align: center;
  color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.login-container h2, .register-container h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.login-container form input, .register-container form input {
  width: 100%;
  padding: 14px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  background: #333;
  color: white;
}

.login-container button, .register-container button {
  width: 100%;
  padding: 14px;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  background-color: #e50914;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-container button:hover, .register-container button:hover {
  background-color: #bf0812;
}

.login-container p, .register-container p {
  margin-top: 20px;
  font-size: 14px;
}

.login-container span, .register-container span {
  color: #e50914;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.login-container span:hover, .register-container span:hover {
  color: #bf0812;
}
